
.header{
  background-color: #DDDDDD;
  width: 1500px;
  height: 300px;
  margin-left: -10px;
  margin-right: -20px;
  padding:50px;
  margin-top: -20px;
  margin-bottom: 100px;
}


/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
  vertical-align: bottom;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
vertical-align: bottom;
}

/* Change the color of links on hover */
/* .topnav a:hover {
background-color: #ddd;
color: black;
} */

/* Add an active class to highlight the current page */
 .topnav a.active {
background-color: #4CAF50;
color: white;
}


.whoof-div{
  height: 70px;
  width: 1200px;
}
.whoof1{
  background-color: #FF4C68;
  color: white;
  font-family: "Montserrat";
 margin-right: 650px;
  font-size: 50px;
  margin-left: 150px;
  margin-top: -10px;


}
.whoof{
  background-color: #FF4C68;
  color: white;
  font-family: "Montserrat";

}
.social-icon{
  padding: 50PX;
}

.contact{

}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin-left: 100px;
  margin-top: 40px;
}

.fa-solid{
  margin-bottom: 100px;
}


.house{
margin-bottom: 100px;
margin-left: 200px;

}

.first-Address{
  margin-left: 20px;
    font-size: 30px;
    font-family: "Poiret One", sans-serif;
}

.Address{
  margin-left: 300px;
  font-size: 30px;
  font-family: "Poiret One", sans-serif;
}

.hr1{
  size: 10px;
  margin-top: -40PX;
  width: 1200px;
  margin-left: 190px;
margin-bottom: 50px;
font-size: 30px;
font-family: "Poiret One", sans-serif;
}

.Address1{
    margin-left: 250px;
    margin-right: 100px;
    font-size: 30px;
    font-family: "Poiret One", sans-serif;
}

.Address2{
    margin-left: 318px;
    margin-right: 100px;
  margin-bottom: 440px;
  font-size: 30px;
  font-family: "Poiret One", sans-serif;
}

.Address3{
  margin-left: 158px;
  margin-right:;
  margin-bottom: 440px;
  font-size: 30px;
  font-family: "Poiret One", sans-serif;

}
#footer{


margin-top: 90px;

  padding: 7% 15%;
  text-align: center;
  background-color: #DDDDDD;
  height: 160PX;

}


.Address4{
  margin-left: 610px;
  margin-right:148px;
    margin-top: -750px;
    font-size: 30px;
    font-family: "Poiret One", sans-serif;
}
.whoof{
  font-size: 30px;
  font-family: "Poiret One", sans-serif
}
.Address5{
  margin-left: 58px;
  margin-right:;
  margin-top: -750px;
  font-size: 30px;
  font-family: "Poiret One", sans-serif;
}

.hr3{
  size: 10px;
  margin-top: -40PX;
  width: 1200px;
  margin-left: 190px;
  margin-bottom: 50px;
}

.Leave-a-reply{
    margin-left: 190px;
    font-size:50px;
     font-family: "Poiret One", sans-serif;
     color: #E72929;
     margin-bottom: 50px;
}

.form{
  margin-top: 50px;
  margin-left: 190px
}

.Label{
  font-family: "Poiret One", sans-serif;
   color: #E72929;
   font-size: 30px;
   /* margin-left: 140px; */
}
.Label1{
  font-family: "Poiret One", sans-serif;
   color: #E72929;
   font-size: 30px;
   margin-left: 410px;

}

.input2{
  font-family: "Poiret One", sans-serif;
   color: #E72929;
   font-size: 30px;
   margin-left: 200px;
}


.txt{
  width: 70px;
  height: 50px;

}

.Submit{
  background-color: #891652;
  font-family: "Poiret One", sans-serif;
  color: White;
  width: 320px;
  height: 60px;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 35px;

}

.Submit:hover{
  background-color: white;
  color: black;
}
.website{

}
